{% block content %}

<div class="container bd-example">
    <h1>{{title}}</h1>
    <br>

    <form method="post" action="/blog/editpost">
        <input type="hidden" id="key" name="key" value={{key}}>
        <div class="form-group row">
            <label for="subject" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{author}}</p>
            </div>
        </div>

        <div class="form-group row">
            <label for="subject" class="col-sm-2 col-form-label">Subject</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="subject" name="subject" value="{{subject}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="content" class="col-sm-2 col-form-label">Blog</label>
            <div class="col-sm-10">
                <textarea rows="10" class="form-control" id="content" name="content">{{content}}</textarea>
            </div>
        </div>

        <div class="form-group row text-center">
            <span class="error">{{ error }}</span>
        </div>

        <div class="form-group row">
            <button type="submit" class="btn btn-primary default-height">Update</button>
            <a href="/deletecomment/{{key}}" class="btn btn-danger default-height">Delete</a>
        </div>
    </form>
</div>

{% endblock %}